<div *ngIf="display">Structural Directive Example</div>

<br />

<div *ngIf="user as userName">{{ userName.length > 3 ? userName : null }}</div>

<button (click)="show()">Show</button>

<p *ngIf="displayText">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet natus at, non officiis, cum
  consequuntur autem necessitatibus quas magni culpa repellat ab nulla reprehenderit iste
  perspiciatis! Sunt eligendi officiis nemo molestiae nobis! Voluptatum molestiae maiores totam
  consectetur natus dicta vitae aspernatur illo cum ut doloribus accusantium in libero nemo minima
  illum, fugit sapiente quibusdam ad hic. Ut at modi doloremque assumenda, id cumque blanditiis
  adipisci cum, architecto natus animi odio?
</p>

<div *ngIf="test; else hiddenContent">Content visibile</div>

<ng-template #hiddenContent>
  <div>content is hidden</div>
</ng-template>

@if (visibile) {
  <div>Contenuto visibile 2 ......</div>
} @else {
  <h1>Contenuto alternativo!!!!</h1>
}

@if (visibile) {
  <div>
    <table>
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
      </thead>
      <tbody>
        @for (item of employees(); track item.id) {
          @if (item.role == 'Admin') {
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.role }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
} @else {
  <div>Non ci sono Dati!!!!</div>
}
